
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
</head>
<body>
    <div class="alert alert-danger">
        <h2>
            Internal Error
        </h2>
    </div>
</body>
</html>
