
<div class="row">
    <label class="col-xs-1">Nombre</label>
    <input type="text" name="name" value="" class="input-sm form-control col-xs-3" />
</div>

<div class="row">
    <input type="button" value="Guardar" class="btn-primary col-xs-1" />
    <input type="button" value="Cancelar" class="btn-default col-xs-1" />
</div>