
@{
    ViewBag.Title = "ZonaProhibida";
}

<div class="text-center">
    <h2>Error de Autorización</h2>

    <p>No cuenta con los permisos para acceder a esta Sección</p>


    @Html.ActionLink("Volver", "Index", "Home", null, new { @class = "btn btn-info" })

</div>